<div class="container">
  <h2 class="m-2">Project Tracker</h2>
  <hr/>
  <div class="d-flex justify-content-end">
    <div class="mr-auto p-2">
      <div class="row">
        <label class="col-6 col-form-label">Add Project</label>
        <div class="col-6">
          <input class="form-control" placeholder="project name" [(ngModel)]="projectName" (keydown.enter)="addTodo()"/>
        </div>
      </div>
    </div>
    <div class="p-2">
      <counter [label]="'PROJECTS'" [count]="total"></counter>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-md-4">
        <project-list [title]="'To Do'" [projects]="todo"></project-list>
      </div>
      <div class="col-md-4">
        <project-list [title]="'In Progress'" [projects]="inProgress"></project-list>
      </div>
      <div class="col-md-4">
        <project-list [title]="'Done'" [projects]="done"></project-list>
      </div>
    </div>
  </div>
</div>
